.lista_informacao{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    padding: 0px, 0px, 96px, 0px;
}
.lista_primaria{
    padding: 0 96px; 
    gap: 64px;
    width: fill (1,440px);
    height: hug (288px);
}
.lista_titulo{
    font-family: inter;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2%;
    color: #8E2424;
}
.lista_titulo_secundario{
    font-family: inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
}
.lista_conteudo{
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}